@import "fontmixin";
@import "fonts";
@import "variables";

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: inherit;
  height: 100%;
  font-style: normal;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

//header
.header {
  max-width: 1920px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #121212;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-list__item {
  font-family: $font-familly;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: $white-color;
}

.header-inter {
  width: 183px;
  height: 44px;
  border-radius: 50px;
  padding: 10px 30px;
  border: 1px solid black;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  font-family: $font-familly;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: $white-color;
  cursor: pointer;
}

//Hero
#hero {
  padding: $section-padding;
  background-image: url("../img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.hero-rihgt {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-title {
  font-family: $font-familly;
  font-weight: 900;
  font-size: 64px;
  color: $white-color;
}

.hero-desc {
  font-family: $font-familly;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: $white-color;
}
.hero-button {
  border-radius: 50px;
  border: 1px solid black;
  padding: 10px 30px;
  width: 169px;
  height: 44px;
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  font-family: $font-familly;
  font-weight: 900;
  font-size: 16px;
  color: $white-color;
  cursor: pointer;
}
//About
#about {
  padding: $section-padding;
}
.rigt-title {
  font-family: $font-familly;
  font-weight: 900;
  font-size: 40px;
  line-height: 160%;
  margin-bottom: 30px;
}
.rigt-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}
.item-wrapper {
  display: flex;
  flex-direction: column;
}
.rigt-list__item {
  display: flex;
  padding: 20px;
  border: radius 10px;
  border: 2px solid green;
}
.item-title {
  margin-bottom: 15px;
  font-size: 22px;
}

.rigt-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.right-desc {
  font-family: $font-familly;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.right-button {
  border-radius: 50px;
  border: 1px solid black;
  padding: 10px 30px;
  width: 250px;
  height: 50px;
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  font-family: $font-familly;
  font-weight: 900;
  font-size: 16px;
  color: $white-color;
  cursor: pointer;
}

//teachers
#teachers {
  padding: $section-padding;
  background-color: black;
}

.teachers-title {
  color: $white-color;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 60px;
}

.teacher-image {
  width: 190px;
  height: 190px;
  border-radius: 95px;
}

.teacher-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: left;
}

.teachers-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $white-color;
}

.teacher-bio {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 15px;
  color: $white-color;
}
.teacher-bio__item {
  border: 2px solid white;
  border-radius: 20px;
  max-width: 480px;
}
.teacher-item__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.item-wrapper__icon {
  width: 60px;
  height: 60px;
  fill: white;
  margin-bottom: 15px;
}

.teacher-footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  color: $white-color;
}

.teacher-footer__button {
  margin-top: 40px;
  border-radius: 50px;
  border: 1px solid black;
  padding: 10px 30px;
  width: 250px;
  height: 50px;
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  font-family: $font-familly;
  font-weight: 900;
  font-size: 16px;
  color: $white-color;
  cursor: pointer;
}

//info

#info {
  padding: $section-padding;
}
.info-title {
  font-family: $font-familly;
  font-weight: 900;
  font-size: 40px;
  line-height: 160%;
  margin-bottom: 30px;
}
.info-cards__item {
  position: relative;
  max-width: 100%;
  height: 370px;
  background-image: url("../img/cards.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.info-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.info-cards__item {
  flex: 1 1 100%;
}
.cards-item__wrapper {
  padding: 25px;
}

.cards-item__desc {
  font-family: $font-familly;
  font-weight: 500;
  font-size: 20px;
  color: $white-color;
}

.cards-item__number {
  font-size: 40px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: $white-color;
  opacity: 0.6;
}
// contacts
#contacts {
  padding: $section-padding;
  background-color: black;
}

.contacts-title {
  font-family: $font-familly;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  color: $white-color;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $white-color;
}

.contacts-list__item {
  display: flex;
  max-width: 214px;
}
.contacts-item__title {
  font-family: $font-familly;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
}
.contacts-email {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.contacts-email__title {
  margin-top: 15px;
  font-family: $font-familly;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  color: $white-color;
}

.contacts-email__desc {
  font-family: $font-familly;
  font-weight: 500;
  font-size: 16px;
  color: $white-color;
}
.contact-form {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.contact-form__input {
  flex: 1;
  border-radius: 50px;
  outline: none;
  width: 353px;
  height: 44px;
  padding: 20px 25px;
}
.contact-form__input::placeholder {
  color: #121212;
}

.contact-form__button {
  position: absolute;
  top: 0;
  right: 0px;
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
  width: 160px;
  height: 44px;
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  font-family: $font-familly;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: $white-color;
  cursor: pointer;
}
//footer
#footer {
  padding: 30px 0px 30px 0px;
  border-top: 5px solid red;
  background-color: #292e39;
}

.footer-left__span {
  margin-left: 30px;
  color: $white-color;
  font-family: $font-familly;
  font-weight: 500;
  font-size: 16px;
}

.footer-left__logo {
  width: 40px;
}

.footer-social__icon {
  width: 25px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

//second page

.secondpage-title {
  padding: 20px 0px 20px 0px;
}
.secondpage-lastblock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.secondpage-button {
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
  width: 200px;
  height: 44px;
  background: linear-gradient(141deg, #df5950 0%, #451046 100%);
  font-family: $font-familly;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $white-color;
}

.last-button {
  margin-bottom: 40px;
}

//modal window

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal-box {
  position: relative;
  max-width: 500px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: white;
  transform: scale(0);
  transition: transform 0.8s;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal-box {
  transform: scale(1);
}

.close-modal {
  position: absolute;
  top: -50px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}
.modal-icon {
  width: 16px;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-input {
  border-radius: 10px;
  max-width: 100%;
  height: 40px;
  padding: 20px;
  background: #f6f6f6;
  border: none;
  outline: none;
}

.modal-button__send {
  border-radius: 10px;
  padding: 19px 35px;
  max-width: 100%;
  height: 54px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 38%,
    rgba(78, 9, 121, 1) 83%
  );
  color: $white-color;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
